flows(3).json
[
    {
        "id": "a6a107efd7f582d7",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3876345752e60ae9",
        "type": "inject",
        "z": "a6a107efd7f582d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "texto de prueba",
        "payloadType": "str",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "51b8622f2e866326"
            ]
        ]
    },
    {
        "id": "79ce0bcfd1bf1586",
        "type": "inject",
        "z": "a6a107efd7f582d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "0b49a51782dff72f",
                "e5b72cfb8002cc95"
            ]
        ]
    },
    {
        "id": "feb77a3381175c41",
        "type": "inject",
        "z": "a6a107efd7f582d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "0b49a51782dff72f",
                "e5b72cfb8002cc95"
            ]
        ]
    },
    {
        "id": "9b2b7dbdcd978943",
        "type": "inject",
        "z": "a6a107efd7f582d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "0b49a51782dff72f",
                "e5b72cfb8002cc95"
            ]
        ]
    },
    {
        "id": "51b8622f2e866326",
        "type": "ui_text",
        "z": "a6a107efd7f582d7",
        "group": "2d260a9aea33a997",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "texto de prueba label",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "0b49a51782dff72f",
        "type": "ui_gauge",
        "z": "a6a107efd7f582d7",
        "name": "",
        "group": "d2e216ab57239d0c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "e5b72cfb8002cc95",
        "type": "ui_chart",
        "z": "a6a107efd7f582d7",
        "name": "",
        "group": "d2e216ab57239d0c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e73807ac2a531d04",
        "type": "inject",
        "z": "a6a107efd7f582d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "porcentaje",
        "payload": "44",
        "payloadType": "num",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "129851aef51a904a"
            ]
        ]
    },
    {
        "id": "129851aef51a904a",
        "type": "ui_chart",
        "z": "a6a107efd7f582d7",
        "name": "",
        "group": "a44ad57afae483f5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Grafica porcentual",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a40000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2d260a9aea33a997",
        "type": "ui_group",
        "name": "texto",
        "tab": "38da10628a5dd953",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2e216ab57239d0c",
        "type": "ui_group",
        "name": "graficos",
        "tab": "38da10628a5dd953",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a44ad57afae483f5",
        "type": "ui_group",
        "name": "grafica 3",
        "tab": "38da10628a5dd953",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38da10628a5dd953",
        "type": "ui_tab",
        "name": "Flow 3",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]